.One1 {
  display: flex;
  width: 100vw;
  height: 44px;
  align-items: center;
  justify-content: column;
  background-color: #f5f5f7cc;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
.Zai {
  width: 100vw;
  height: 44px;
  background-color: #f5f5f7cc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.Text1 {
  display: flex;
}
.lucide-handbag {
  margin-right: 24px;
  margin-left: 24px;
}
body {
  margin: auto;
  width: 100vw;
}
.Texts {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Two {
  background: url(./ec3175b4a85620366114b7dc1d62789aa36c0536.jpg) center/cover
    no-repeat;
  width: 100vw;
  height: 692px;
}
.Two-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Two1 {
  margin-top: 55px;
  width: 405px;
  height: 60px;
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Two2 {
  width: 405px;
  height: 32px;
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Two3 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Two3-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: white;
  background-color: #0071e3;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Two3-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Third {
  background: url(./6e2272f55593e27e01766f0a588a5585328895e1.jpg) center/cover
    no-repeat;
  width: 100vw;
  height: 692px;
  margin-top: 12px;
}
.Third-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Third1 {
  margin-top: 55px;
  width: 405px;
  height: 60px;
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Third2 {
  width: 405px;
  height: 32px;
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Third3 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Third3-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: black;
  background-color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Third3-2 {
  border: 1px solid white;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four {
  padding: 12px;
  display: flex;
  width: 100vw;
  gap: 12px;
}
.Four1 {
  background: url(./f34a75b3ce6969be90a261c4e631ecdfff8d60c9.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Four2 {
  background: url(./ff948cacd279c7a6da7b42f7259842d3eef7e869.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Fifth {
  padding: 12px;
  display: flex;
  width: 100vw;
  gap: 12px;
}
.Fifth1 {
  background: url(./d6e544be6057fe0fa0741e7386c61a4fb5ddb17f.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Fifth2 {
  background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Sixth {
  padding: 12px;
  display: flex;
  width: 100vw;
  gap: 12px;
}
.Sixth1 {
  background: url(./b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Sixth2 {
  background: url(./47cc645e82102fb94058ac8b07709b8b6d85fef7.jpg) center/cover
    no-repeat;
  width: 50%;
  height: 580px;
}
.Four1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Four1-1 {
  margin-top: 58px;
}
.Four1-2 {
  margin-top: 9px;
  font-size: 18px;
  color: #1d1d1f;
}
.Four1-3 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four1-3-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: white;
  background-color: #0071e3;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Four1-3-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four1-4 {
  margin-top: 324px;
  font-size: 14px;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b, #f55600);
  background-clip: text;
  color: transparent;
}
.Four2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Four2-1 {
  margin-top: 401px;
  width: 238px;
  height: 44px;
  font-size: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four2-2 {
  font-size: 18px;
  color: #f5f5f7;
  width: 370px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four2-3 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Four2-3-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: white;
  background-color: #0071e3;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Four2-3-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fifth1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Fifth1-1 {
  margin-top: 58px;
  font-size: 32px;
  color: #000000;
  display: flex;
  gap: 7px;
}
.Fifth1-2 {
  margin-top: 4px;
  font-size: 15px;
  color: #000000;
}
.Fifth1-3 {
  font-size: 18px;
  margin-top: 4px;
  color: #1d1d1f;
}
.Fifth1-4 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fifth1-4-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: white;
  background-color: #0071e3;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Fifth1-4-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fifth2-1 {
  margin-top: 58px;
  font-size: 32px;
  color: #000000;
}
.Fifth2-2 {
  margin-top: 4px;
  font-size: 15px;
  color: #000000;
}

.Fifth2-3 {
  margin-top: 20px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fifth2-3-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fifth2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Sixth1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Sixth2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Sixth1-1 {
  display: flex;
  gap: 7px;
  margin-top: 58px;
  font-size: 32px;
  color: #000000;
}
.Sixth1-2 {
  margin-top: 4px;
  font-size: 15px;
  color: #000000;
  width: 322px;
  height: 50px;
  text-align: center;
}
.Sixth1-3 {
  border-radius: 999px;
  width: 167px;
  height: 40px;
  color: white;
  background-color: #0071e3;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Sixth2-1 {
  display: flex;
  gap: 7px;
  margin-top: 58px;
  font-size: 32px;
  color: #000000;
}
.Sixth2-2 {
  margin-top: 4px;
  font-size: 15px;
  color: #000000;
  width: 200px;
  height: 50px;

  text-align: center;
}
.Sixth2-3 {
  margin-top: 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sixth2-3-1 {
  border-radius: 999px;
  width: 123px;
  height: 44px;
  color: white;
  background-color: #0071e3;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.Sixth2-3-2 {
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  height: 44px;
  color: #2997ff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Seven {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  margin-top: 12px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.Seven1 {
  display: flex;
  width: 1250px;
  height: 668px;
  background: url(./napoleon.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven-text {
  display: flex;
  margin-left: 70px;
  margin-bottom: 58px;
  align-items: flex-end;
  gap: 20px;
}
.Seven1-1 {
  width: 133px;
  height: 44px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 999px;
  font-size: 17px;
}
.Seven1-2 {
  color: white;
  font-size: 17px;
  margin-bottom: 12px;
}
.Seven2 {
  width: 1250px;
  height: 668px;
  background: url(./bad-monkey.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven3 {
  width: 1250px;
  height: 668px;
  background: url(./instigators.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven4 {
  width: 1250px;
  height: 668px;
  background: url(./k-pop-idols.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven5 {
  width: 1250px;
  height: 668px;
  background: url(./season-pass.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven6 {
  width: 1250px;
  height: 668px;
  background: url(./pressumed-innocent.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven7 {
  width: 1250px;
  height: 668px;
  background: url(./pachinko.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven8 {
  width: 1250px;
  height: 668px;
  background: url(./baseball.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven9 {
  width: 1250px;
  height: 668px;
  background: url(./lady-in-the-lake.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Seven10 {
  width: 1250px;
  height: 668px;
  background: url(./morning-show.jpg) center/cover no-repeat;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.Eight {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 12px;
  justify-content: center;
}
.Eight1 {
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-radius: 999px;
}

.lucide-menu {
  display: none;
}
.Mfour1 {
  display: none;
}
.Mfour2 {
  display: none;
}
.Mfifth1 {
  display: none;
}
.Mfifth2 {
  display: none;
}
@media (max-width: 768px) {
  .lucide-menu {
    display: inline;
  }
  .Texts {
    display: none;
  }
  .One1 {
    display: flex;
    height: 44px;
    align-items: center;
    background-color: #f5f5f7cc;
    justify-content: flex-end;
    padding: 20px;
  }
  .Texts3 {
    display: flex;
    position: relative;
    right: 600px;
  }
  .Text {
    display: flex;
  }
  .body {
    margin: auto;
    width: 768px;
  }

  .Two {
    width: 768px;

    height: 650px;
  }
  .Third {
    width: 768px;
    height: 650px;
  }
  .Four {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Fifth {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Sixth {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Seven {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 768px;
    margin-top: 12px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .Seven1 {
    width: 689px;
    height: 368px;
    background: url(./morning-show.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven2 {
    width: 689px;
    height: 368px;
    background: url(./bad-monkey.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven3 {
    width: 689px;
    height: 368px;
    background: url(./instigators.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven4 {
    width: 689px;
    height: 368px;
    background: url(./k-pop-idols.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven5 {
    width: 689px;
    height: 368px;
    background: url(./season-pass.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven6 {
    width: 689px;
    height: 368px;
    background: url(./pressumed-innocent.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven7 {
    width: 689px;
    height: 368px;
    background: url(./pachinko.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven8 {
    width: 689px;
    height: 368px;
    background: url(./baseball.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven9 {
    width: 689px;
    height: 368px;
    background: url(./lady-in-the-lake.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Seven10 {
    width: 689px;
    height: 368px;
    background: url(./morning-show.jpg) center/cover no-repeat;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .Eight {
    width: 768px;
  }
  .Mfour1 {
    background: url(./da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg) center/cover
      no-repeat;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 490px;
  }
  .Mfour2 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg) center/cover
      no-repeat;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 490px;
  }
  .Mfifth1 {
    background: url(./d6e544be6057fe0fa0741e7386c61a4fb5ddb17f.jpg) center/cover
      no-repeat;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 490px;
  }
  .Mfifth2 {
    background: url(./faea9510bf75f3061ee55679cd22eea7569fcf6a.png) center/cover
      no-repeat;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 490px;
  }
  .Msixth1 {
    background: url(./746c1b2b65a2e4b11fef8ab2ad8c64e76020395a.jpg) center/cover
      no-repeat;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 490px;
  }
  .Fifth {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Four {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Sixth {
    padding: 12px;
    display: flex;
    width: 768px;
    gap: 12px;
  }
  .Four1 {
    display: none;
  }
  .Mfour1-1 {
    margin-top: 287px;
    color: white;
    font-size: 30px;
  }
  .Mfour1-2 {
    margin-top: 4px;
    color: white;
    font-size: 18px;
    width: 241px;
    text-align: center;
  }
  .Mfour1-3 {
    margin-top: 20px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Mfour1-3-1 {
    border-radius: 999px;
    width: 123px;
    height: 44px;
    color: white;
    background-color: #0071e3;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .Mfour1-3-2 {
    border: 1px solid #2997ff;
    border-radius: 999px;
    font-size: 16px;
    height: 44px;
    color: #2997ff;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Four2 {
    display: none;
  }
  .Mfour2-1 {
    margin-top: 46px;
    font-size: 32px;
    color: #000000;
    display: flex;
    gap: 7px;
  }
  .Mfour2-2 {
    margin-top: 4px;
    font-size: 15px;
    color: #000000;
  }
  .Mfour2-3 {
    font-size: 18px;
    margin-top: 4px;
    color: #1d1d1f;
  }
  .Mfour2-4 {
    margin-top: 20px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Mfour2-4-1 {
    border-radius: 999px;
    width: 123px;
    height: 44px;
    color: white;
    background-color: #0071e3;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .Mfour2-4-2 {
    border: 1px solid #2997ff;
    border-radius: 999px;
    font-size: 16px;
    height: 44px;
    color: #2997ff;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
